<div class="alltimesheets ui-g">


    <div class="header ui-g-12">

        <h2>
            All Timesheets
        </h2>
        <h3>
            Click to edit Users and Projects
        </h3>

    </div>

    <!-- dt - local variable for the data table that we hope to filter -->

    <!-- p-dataTable is deprecated. Use p-table instead -->

    <p-table #dt [columns]="cols" [value]="allTimesheetData" class="ui-g-12" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,15,20]" [totalRecords]="recordCount" [lazy]="true" (onLazyLoad)="loadTimes($event)">
        <!-- Making Start Time the only sortable column -->
        <!-- https://forum.primefaces.org/viewtopic.php?t=55946 -->
        <ng-template pTemplate="header" let-columns>
            <tr>
                <ng-template ngFor let-col [ngForOf]="columns" let-i="index">
                    <!-- Start Time column -->
                    <th *ngIf="i == 3" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <!-- Other columns -->
                    <th *ngIf="i != 3">
                        {{col.header}}
                    </th>
                </ng-template>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-timesheet>
            <tr>
                <td>{{timesheet.user}}</td>
                <td>{{timesheet.project}}</td>
                <td>{{timesheet.category}}</td>
                <td>{{timesheet.startTime}}</td>
                <td>{{timesheet.endTime}}</td>
            </tr>
        </ng-template>
    </p-table>    

    <p-contextMenu #tableContextMenu [model]="contextMenu"></p-contextMenu>

</div>